docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    executor = 'local' // For DNAnexus, you'll change this to 'dx'
    withLabel:high_mem {
        memory = '32 GB'
    }
    container = 'rolvhdez/snipflow:v0.1'
}

params {
    bed = null
    bim = null
    fam = null
    baseline = null
    kinship = null
    pcs = null
    phenoIndex = null
    chr_range = '1-22'
    estimator = 'regular'
    outDir = './results'
}