// Unscoped options
resume = true
cleanup = false

// Log reporting
report {
    enabled = true
    file = './log/report-snipar.html'
    overwrite = true
}
timeline {
    enabled = true
    file = './log/timeline-snipar.html'
    overwrite = true
}

// Workflow configuration
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
process {
    container = 'rolvhdez/snipflow:v0.1.2'
    resourceLimits = [
        cpus: 64,
        memory: 245.GB,
        time: 12.h
    ]
}